.btn-actions-container {
    position: relative;
    display: flex;
    width: 90px;
    height: 60px;
    justify-content: center;
    align-items: center;

}
.btn-actions {
    width: 36px;
    height: 36px;
    fill: #B0CEA1;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:1.5px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    background-color: #68A16F;
}

.menu-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 9px;
    opacity: 0;
    transition: all 0.4s ease;
}

.menu-btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 0;
    height: 0;
}

.menu-btns.ouvert {
    pointer-events: all;
    cursor: pointer;
}

.menu-btns.ouvert .menu-btn:nth-child(1) {
    transform: translate(-50%, -50%) translateX(-32px);
    opacity: 1;
}
.menu-btns.ouvert .menu-btn:nth-child(2) {
    transform: translate(-50%, -50%) translateY(0px);
    opacity: 1;
}
.menu-btns.ouvert .menu-btn:nth-child(3) {
    transform: translate(-50%, -50%) translateX(32px);
    opacity: 1;
}

.menu-btns.ouvert {
    stroke-width: 1.5;
    stroke: #333;
}